 
.header{
	background-color:#011e29;
	color:white;
	text-align:center;
	padding:30px;
}
.latest-news-section{
	background-color: #f5f5f5;
	padding:50px;
	width:70px;
}
.main-article-section{
	background-color:#f5f5f5;
	padding:50px;
	width:70px;
}
.pictorial-news-section{
	background-color: #f5f5f5;
	padding:50px;
	width:80px;
	border-radius:100px;
	text-align:center;
}